<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <!-- Contact Info-->
                <section class="widget widget-light-skin">
                    <h3 class="widget-title">ارتباط با ما</h3>
                    <p class="text-white">تلفن (بی تک شاپ) : @ViewBag.AboutUsData.Phone</p>
                    <p class="text-white">ایمیل : @ViewBag.AboutUsData.Email</p>
                    <p class="text-white">وبسایت : <a class="navi-link-light" href="/">https://www.BitakShop.com</a></p>
                    <p><a class="navi-link-light" href="http://spad.co">توسعه توسط اسپاد</a></p>
                    <a class="social-button shape-circle sb-facebook sb-light-skin" href="#"><i class="socicon-facebook"></i></a>
                    <a class="social-button shape-circle sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a>
                    <a class="social-button shape-circle sb-instagram sb-light-skin" href="#"><i class="socicon-instagram"></i></a>
                    <a class="social-button shape-circle sb-google-plus sb-light-skin" href="#"><i class="socicon-googleplus"></i></a>
                </section>
            </div>

            <div class="col-lg-4 col-md-6">
                <!-- About Us-->
                <section class="widget widget-links widget-light-skin">
                    <h3 class="widget-title">صفحات</h3>
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li><a href="/AboutUs">درباره بی تک شاپ</a></li>
                        <li><a href="/Blog">وبلاگ</a></li>
                        <li><a href="/Shop/ProductList">محصولات</a></li>
                        <li><a href="/ContactUs">تماس با ما</a></li>
                    </ul>
                </section>
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- Account / Shipping Info-->
                <section class="widget widget-links widget-light-skin">
                    <h3 class="widget-title">مشخصات حساب و دسترسی شما</h3>
                    <ul>
                        <li><a href="/Customer/Dashboard">پروفایل شما</a></li>
                        <li><a href="#">قیمت و حمل و نقل</a></li>
                        <li><a href="#">بازپرداخت و جایگزینی</a></li>
                        <li><a href="#">مالیات</a></li>
                        <li><a href="#">اطلاعات تحویل</a></li>
                        <li><a href="#">برنامه های وابسته</a></li>
                    </ul>
                </section>
            </div>
        </div>
        <hr class="hr-light mt-2 margin-bottom-2x">
        <div class="row">

            <div class="col-md-12 padding-bottom-1x d-flex justify-content-center">
                <div class="margin-top-1x hidden-md-up"></div>
                <!--Subscription-->
                <form class="subscribe-form" action="http://spad.co" method="post" target="_blank" novalidate>
                    <div class="clearfix">
                        <div class="input-group input-light">
                            <input class="form-control" type="email" name="EMAIL" placeholder="ایمیل خود را وارد کنید ..."><span class="input-group-addon"><i class="icon-mail"></i></span>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_c7103e2c981361a6639545bd5_1194bb7544" tabindex="-1">
                        </div>
                        <button class="btn btn-primary" type="submit">ارسال</button>
                    </div><span class="form-text text-sm text-white opacity-50 text-right pl-0">برای عضویت در خبرنامه , دریافت تخفیف ها , آخرین اخبار ، و فروش های ویژه </span>
                </form>
            </div>
        </div>
        <!-- Copyright-->
        <p class="footer-copyright text-center">© کلیه حقوق محفوظ است , ایجاد شده توسط &nbsp;<i class="icon-heart text-danger"></i><a href="https://www.spad.co/" target="_blank"> &nbsp;اسپاد</a></p>
    </div>
</footer>
