
@{
    ViewBag.Title = "خطای پرداخت";
}




<!-- Page Title-->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>خطای پرداخت</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li>
                    <a href="/">خانه</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>
                    <a href="/">فروشگاه</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>خطای پرداخت</li>
            </ul>
        </div>
    </div>
</div>



<div class="message-wrapper">

    <div class="message-header error-message">
        <i class="icon-cross"></i>
        <h4>بروز خطا در فرآیند پرداخت!</h4>
    </div>

    <div class="message-body">
        <p>

            <b>برخی دلایل که می توانند سبب شکست فرآیند پرداخت شوند:</b>
            <br />
            <ol class="message-ol">
                <li>
                    شما از تکمیل فرآیند پرداخت انصراف داده اید.
                </li>
                <li>
                    بیش از 10 دقیقه از شروع اقدام برای پرداخت گذشته است.
                </li>
                <li>
                    سفارش منقضی شده و دیگر امکان پرداخت برای سفارش وجود ندارد.
                </li>
                <li>
                    اطلاعات ارسالی از سوی کاربر یا درگاه بانک نامعتبر است.
                </li>
            </ol>

        </p>
    </div>

    <div class="message-bottom">
        <a class="btn btn-outline-secondary" href="/Shop"><i class="icon-arrow-right"></i>&nbsp; برگشت به فروشگاه </a>
    </div>

</div>



