<!-- Page Title-->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>تماس با ما</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li>
                    <a href="/">خانه</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>تماس با ما</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Content-->
<div class="container padding-bottom-2x mb-2 ">
    <div class="row">
        <div class="col-md-7">
            <div class="display-3 text-muted opacity-75 mb-30">سرویس های مشتری</div>
        </div>
        <div class="col-md-5">
            <ul class="list-icon">
                <li> <i class="icon-mail"></i><a class="navi-link" href="mailto:@Model.Email">@Model.Email</a></li>
                <li class="dir-ltr"> <i class="icon-bell"></i>@Model.Phone</li>
                <li> <i class="icon-clock"></i>پاسخگو شما در 24 ساعت شبانه روز</li>
            </ul>
        </div>
    </div>
    <hr class="margin-top-2x">

    <h3 class="margin-top-3x text-center mb-30" style="font-family:'b-yekan'">مشخصات و ادرس فروشگاههای ما</h3>
    <div class="row">
        <div class="col-md-12 col-sm-6">
            <div class="card mb-30">
                @Html.Raw(Model.Map)
                <style>
                    .mapouter {
                        position: relative;
                        text-align: right;
                        height: 300px;
                        width: 100%;
                    }

                    .gmap_canvas {
                        overflow: hidden;
                        background: none !important;
                        height: 300px;
                        width: 100%;
                    }
                </style>
            </div>
            </div>
        </div>
    </div>
</div>