@{
    ViewBag.Title = "ارتباط با ما";
}




<div class="bg-white">
    <div class="container padding-top-3x padding-bottom-3x mb-1">

        <div class="row">

            <div class="col-lg-12 ">
                <div class="alert alert-success user-message">
                    <div><b>با تشکر از حسن توجه شما</b></div>
                    <div>پیام شما با موفقیت در سیستم ثبت گردید.</div>

                    <div>
                        <a href="@ViewBag.URL" class="return-url-link">بازگشت</a>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>


