
@{
    ViewBag.Title = "NotFound";
}



<div class="bg-white">
    <div class="container padding-top-3x padding-bottom-3x mb-1">
        <img class="d-block m-auto" src="/Content/client/images/404_art.jpg" style="width: 100%; max-width: 550px;" alt="404">
        <div class="padding-top-1x mt-2 text-center">
            <h3>صفحه مورد نظر یافت نشد</h3>
            <p>به نظر می رسد ما نمی توانیم صفحاتی را پیدا کنیم که دنبال آن هستید. <a href="/">برگشت به صفحه خانه</a><br>یا سعی کنید از جستجو در گوشه بالا سمت راست صفحه استفاده کنید.</p>
        </div>
    </div>
</div>





<!--
<div class="container padding-bottom-3x mb-1">
    <div class="row">


        <div class="col-lg-12">


            <div class="not-found">

                <h1>
                    4
                    <span>0</span>
                    4
                </h1>

                <div class="not-found-message">
                    <div class="alert alert-warning">صفحه مورد نظر شما یافت نشد!</div>
                </div>

                <div class="not-found-search">
                    <form method="get" id="notFoundSearch" class="input-group form-group">
                        <span class="input-group-btn">
                            <button type="submit"><i class="icon-search"></i></button>
                        </span>
                        <input id="txtSearchString" name="searchString" title="searchString" class="form-control" type="search" placeholder="جستجو در محصولات بی تک ...">
                    </form>
                </div>

            </div>


        </div>


    </div>
</div>
    -->

